* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-template-rows: repeat(3, 1fr); /* 1fr 1fr 1fr */
  gap: 30px;
}

.grid div {
  background-color: turquoise;
  min-height: 100px;
}

.grid div:nth-child(5) {
  background-color: blueviolet;
  grid-column-start: 2;
  grid-column-end: 4;
}

.grid div:nth-child(7) {
    background-color: red;
    grid-row: span 4;
    grid-column: span 2;
  }

@media (max-width: 768px) {
  .grid div:nth-child(5) .grid div:nth-child(7) {
    grid-column: span 1;
  }
}
