* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.grid {
  max-width: 1200px;
  padding: 15px;
  margin: 0 auto;
  padding-top: 76px;
}

.grid .col {
  padding: 15px;
  width: 33.33%;
  height: 300px;
  float: left;
}

.grid .col-content {
  width: 250px;
  height: 250px;
  background-color: magenta;
  border-radius: 50%;
}

.grid::after {
  content: "";
  display: block;
  clear: both;
}

.menu {
  width: 100%;
  position: fixed;
  background-color: black;
}

.menu ul {
  list-style: none;
  display: block;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.menu ul li {
  float: left;
}

.menu ul li a {
  display: block;
  color: white;
  padding: 20px;
  text-decoration: none;
}

.menu ul li a:hover {
  background-color: rgb(61, 61, 61);
}

.full-page {
  max-width: 100%;
  padding: 0 30px;
  padding-top: 76px;
  height: 100vh;
  background-color: turquoise;
}

.full-page-content {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

@media all and (max-width: 320px) {
  .grid .col {
    width: 100%;
  }
}

@media all and (min-width: 321px) and (max-width: 768px) {
  .grid .col {
    width: 50%;
  }
}

@media all and (min-width: 768px) and (max-width: 1300px) {
  .grid .col {
    width: 25%;
  }
}
